version: '3.6'
services:
  node-bulgakov:
    container_name: node-bulgakov
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - services-tier
    ports:
      - 127.0.0.1:$GATE_LISTEN_PORT:$GATE_LISTEN_PORT
      - 127.0.0.1:$FRONTEND_GATE_LISTEN_PORT:$FRONTEND_GATE_LISTEN_PORT
    environment:
      - NOTIFY_CONNECT_STRING
      - GATE_LISTEN_PORT
      - FRONTEND_GATE_LISTEN_PORT
      - DAY_START
      - METRICS_HOST
      - METRICS_PORT

networks:
  services-tier:
